{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}New Note{% endblock %}</h1>
{% endblock %}

{% block content %}

  <form method="POST">
    <br>
    <div class="form-group">
        <textarea name="title" id="title" class="form-title" placeholder="Untitled Document"></textarea>
    </div >
    <hr>
    <div class="form-group">
        <textarea name="note" id="note" class="form-control" placeholder="Write your note here..." rows="10"></textarea>
    </div >
    <div align="center">
    <input type="submit" value="Save"></div>
  </form>
{% endblock %}

