{% extends 'base.html' %}

{% block title %}Edit Note{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="POST">
        <div class="form-group">
            <input type="text" name="title" id="title" class="form-control" value="{{ note.title }}">
        </div>
        <hr>
        <div class="form-group">
            <label for="note">Note</label>
            <textarea name="note" id="note" class="form-control" rows="10">{{ note.data }}</textarea>
        </div>
        <div class="text-center mt-4">
            <input type="submit" value="Save" class="btn btn-primary">
            <a href="{{ url_for('views.home') }}" class="btn btn-secondary ml-2">Back to Home</a>
        </div>
    </form>
</div>
{% endblock %}

