{% extends 'base.html' %}

{% block title %}{{ note.title if note else 'New Note' }}{% endblock %}

{% block content %}
<div class="container mt-5">
    <form method="POST">
        <div class="form-group">
            <input type="text" name="title" id="title" class="form-control" placeholder="Untitled Document" value="{{ note.title if note else '' }}">
        </div>
        <div class="form-group">
            <textarea name="note" id="note" class="form-control" rows="40">{{ note.data if note else '' }}</textarea>
        </div>
        <div class="text-center mt-4">
            <input type="submit" value="Save" class="btn btn-primary">
        </div>
    </form>
</div>
{% endblock %}
